%flaticon {
  font-family: Flaticon;
  font-size: 1em;
  font-style: normal;
}
%flaticon-bubble {
  content: "\e000";
}
%flaticon-linkedin {
  content: "\e001";
}
%flaticon-mail {
  content: "\e002";
}
%flaticon-twitter {
  content: "\e003";
}
