@import url("//fonts.googleapis.com/css?family=Abril+Fatface%7COpen+Sans%3A300italic%2C400italic%2C700italic%2C400%2C800%2C300%2C700%7CMerriweather%3A400%2C300italic%2C300%2C400italic%2C700%2C700italic%2C900%2C900italic");

$mobile-width: 480px;
$tablet-width: 768px;

$post-width: 708px;

$font-size-base: 10px;

$serif-font: 'Merriweather', serif;
$sans-serif-font: 'Open Sans', Arial, sans-serif;
$title-font: 'Abril Fatface', serif;

@import 'base/reset';
@import 'base/layout';
@import 'base/icons';
@import 'base/base';
@import 'base/elements';
@import 'base/classes';
@import 'base/devtools';

@import 'template/gallery';
@import 'template/header';
@import 'template/footer';
@import 'template/home';
@import 'template/post';
@import 'template/comments';
@import 'template/portfolio';